<div class="container">
    <div class="card" style="width: 220px;">
        <div>
            <img [src]="imageUrl" width="200px" height="300px" alt="">
        </div>
        <div class="">
            <i class="bi bi-person-fill"></i>
            <i class="bi bi-heart-fill"></i>
            <i class="bi bi-eye"></i>

            <!--<fa-icon [icon]="faFav" (click)="onFavClick()"></fa-icon>
            <fa-icon [icon]="faWatched" (click)="onWatchedClick()"></fa-icon>-->
        </div>
    </div>
</div>